<%- include('../includes/head.ejs') %>


<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Product Shop Section Begin -->

    <div class="hero-header">
        <div class=" home-head hero-items">
            <!-- <img src="img/hero-1.jpg" alt=""> -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 some-words">
                        <h1>Black friday</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore</p>
                        <a href="/products" class="primary-btn">Shop Now</a>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner-1.jpg" alt="">
                        <div class="inner-text">
                            <h4>Men’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner-2.jpg" alt="">
                        <div class="inner-text">
                            <h4>Women’s</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="img/banner-3.jpg" alt="">
                        <div class="inner-text">
                            <h4>Kid’s</h4>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Still Working on it </h2>
        </div>
    </div>
    

    <!-- Product Shop Section End -->
    <%- include('../includes/end.ejs') %>